.background {
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/820/687/desktop-wallpaper-1080x1920-baby-blue-eyes-solid-color-backgrounds-solid-color-phone.jpg");
  height: 100%;
  width: 100%;
  margin-top: 0%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  margin-bottom: 0%;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.background_padding{
  background-color: #a1caf0;
  height: 30vh;
  width: 100%;
}
.backbutton{
  margin: 30px 10px 40px;
  justify-content: center;
  align-items: center;
  margin-right: 90%;
  padding: 0.5vw;
  background-color: rgba(243, 247, 250, 0.5);
  border-radius: 3px;
  text-align: center;
}

.headerContainer {
  width: auto;
  height: auto;
  display: block;
  margin: 0 0 0;
}

.headerContainer h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 10vw;
  height: 100%;
  font-weight: 600;
  color: rgb(13, 13, 13);
  padding-bottom: 10%;
}

.headerContainer p {
  padding-top: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 4vw;
  font-weight: 170;
  color: black;
}